<div class="container-fluid">
<!--  <div class="menu">-->
<!--    <app-main-menu></app-main-menu>-->
<!--  </div>-->
  <div class="content container">
    <router-outlet></router-outlet>
  </div>
</div>
