<template>
  <div id="app">
    <v-app>
      <v-toolbar color="primary" dark fixed app :clipped-left="clipped">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>
          <router-link to="/demo" tag="span" style="cursor: pointer">
            {{$t("headerDemo")}}
          </router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-xs-only">

          <v-menu offset-y>
            <v-btn class="chooseLanguageButton" style="width: 135px; box-shadow: none"
                   slot="activator"
                   color="primary"
                   dark>
              {{ $t("language") }}
            </v-btn>

            <v-list>
              <v-list-tile class="imgLocalContainer"
                           v-for="(item, index) in languageItems"
                           :key="index"
                           avatar
                           @click="switchLocale(item.title)">
                <v-list-tile-avatar tile>
                  <v-img :src='item.src' style="width: 40px; height: 25px"></v-img>
                </v-list-tile-avatar>
                <v-list-tile-title style="margin-left: -8px;">{{ item.symbol }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>

          <v-btn flat @click="showUser()">
            <img :title='9' :src="userpic"
                 style="max-height: 15px; display: inline-block;">
          </v-btn>
          <v-btn flat @click="userSignOut()">
            {{ $t("signOut") }}
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-navigation-drawer
        fixed
        app
        :clipped="clipped"
        v-model="drawer"
        enable-resize-watcher
        style="overflow: auto">

        <v-subheader class="grey--text">
          <img :src="logo" id="mainMenu" style="height: 64px;">
        </v-subheader>

        <v-list>
          <template v-for="item in items">

            <!-- first level -->
            <v-list-group
              v-if="item.items"
              :group="item.group"
              no-action>
              <v-list-tile slot="activator" ripple :to="item.routeName">
                <v-list-tile-content>
                  <v-list-tile-title> {{item.title}}
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>

              <!-- second level -->
              <template v-for="(subItem, i) in item.items">

                <v-list-group
                  v-if="subItem.items"
                  :group="subItem.group"
                  sub-group>
                  <v-list-tile slot="activator" ripple>
                    <v-list-tile-content>
                      <v-list-tile-title> {{subItem.title}}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>

                  <!-- third level -->
                  <v-list-tile
                    :key="i"
                    v-for="(grand, i) in subItem.items"
                    :to="grand.routeName"
                    ripple>
                    <v-list-tile-title> {{grand.title}}</v-list-tile-title>

                  </v-list-tile>


                </v-list-group>

                <v-list-tile
                  v-else
                  :to="subItem.routeName"
                  ripple>
                  <v-list-tile-title> {{subItem.title}}</v-list-tile-title>

                </v-list-tile>

              </template>

            </v-list-group>

            <v-list-tile
              v-else
              :to="item.routeName"
              ripple>
              <v-list-tile-title> {{item.title}}</v-list-tile-title>

            </v-list-tile>

            <v-divider></v-divider>
          </template>
        </v-list>

      </v-navigation-drawer>
      <v-content>
        <router-view/>
      </v-content>
    </v-app>

    <v-dialog persistent v-model="dialog">
      <userdetail
        v-on:dialog="removeDialogWindow"
        v-bind:user="this.user"
        v-if="showComponent">
      </userdetail>
    </v-dialog>

  </div>
</template>

<script>
  import logo from './assets/logo_imagemaster.png'
  import germany from './assets/germany.png'
  import england from './assets/england.png'
  import russia from './assets/russia.png'
  import userpic from './assets/user.png'
  import i18n from './lang/messages'
  import UserDetail from './components/userDetail'

  export default {
    name: 'app',
    components: {userdetail: UserDetail},
    data() {
      return {
        logo: logo,
        germany: germany,
        england: england,
        russia: russia,
        userpic: userpic,
        isAuthenticated: false,
        drawer: true,
        clipped: false,
        items: this.getItems(),
        dialog: false,
        showComponent: false,
        languageItems:
          [
            {title: "de", src: germany, symbol: "DEU"},
            {title: "en", src: england, symbol: "ENG"},
            {title: "ru", src: russia, symbol: "RUS"},
          ]
      }
    },
    created() {
      this.setLocale();
      this.$axios.get('http://localhost:8081/user/1')
        .then(resp => {
          this.user = resp.data;
          console.log(this.user);
        })
        .catch(error => {
          console.log(error);
        })
    },
    methods: {
      switchLocale(lang) {
        i18n.locale = lang;
        this.currentLocale = i18n.locale;
        this.items = this.getItems();
      },

      setLocale() {
        let locale = i18n.locale;
        this.currentLocale = locale;
      },

      getItems() {
        return [
          {
            title: this.$t('mainMenu.demo'),
            group: 'demo',
            routeName: '/demo'
          },
          {
            title: this.$t('mainMenu.pdf'),
            group: 'demo',
            routeName: '/pdf'
          },
          {
            title: this.$t('mainMenu.excel'),
            group: 'demo',
            routeName: '/excel'
          }
        ]
      },
      removeDialogWindow() {
        this.dialog = false;
        this.showComponent = false;
      },
      showUser() {
        this.dialog = true;
        this.showComponent = true;
      },
      userSignOut() {
        this.$axios.get('http://localhost:8081/logout');
        this.$store.dispatch('userSignOut')
      }
    }
  }
</script>
