<template>
  <div>
    <div style="display: none;">{{currentPage}} / {{pageCount}} </div>

    <input v-model.number="currentPage" type="number" style="width: 5em"> /{{numPages}}
    <button @click="rotate += 90">&#x27F3;</button>
    <button @click="rotate -= 90">&#x27F2;</button>

    <pdf
      src="https://cdn.rawgit.com/mozilla/pdf.js/c6e8ca86/test/pdfs/freeculture.pdf"
      @num-pages="pageCount = $event"
      @page-loaded="currentPage = $event"
     :page="currentPage" :rotate="rotate" style="border: 1px solid red"
      @link-clicked="page = $event"></pdf>
  </div>
</template>
<script>
  import pdf from 'vue-pdf'

  var loadingTask = pdf.createLoadingTask('https://cdn.rawgit.com/mozilla/pdf.js/c6e8ca86/test/pdfs/freeculture.pdf');

  export default {
    data() {
      return {
        loadedRatio: 0,
        src: loadingTask,
        currentPage: 1,
        pageCount: 0,
        numPages: undefined,
        rotate: 0,
      }
    },

    components: {
      pdf
    },

    mounted() {
      this.src.then(pdf => {
        this.numPages = pdf.numPages;
      });
    },

    created() {
    },
    methods: {

    }
  }
</script>
