<template>

  <v-container fluid fill-height class="elevation-0">
    <v-layout justify-center wrap>
      <v-flex xs12 sm8>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title></v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <img :src="info.image" style="max-height: 215px; display: inline-block;">

            <v-text-field
              name="id"
              v-model="this.user.id"
              :disabled="true"/>
            <v-text-field
              v-model="this.user.lastName"
              name="lastName"
              :disabled="true"/>
            <v-text-field
              name="firstName"
              v-model="this.user.firstName"
              :disabled="true"/>
            <v-text-field
              name="emailAddress"
              v-model="this.user.emailAddress"
              :disabled="true"/>
            <v-flex class="text-xs-right">
              <v-btn color="primary" @click="removeDialog()">
                {{ $t("button.ok") }}
              </v-btn>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>


</template>

<script>
import image from '../assets/hqdefault.jpg'

  export default {
    name: "UserDetail",
    data() {
      return {
        info: {
          image: image,
        },
      }
    },
    created() {
      this.getData();
    },

    props: {
      user: Object,
    },

    methods: {
      getData() {
      },

      removeDialog: function () {
        this.$emit('dialog', this.dialog);
      }
    }
  }
</script>
