<h1>Welcome to the Camunda page!</h1>
<!--<router-outlet></router-outlet>-->
<aw-wizard>
  <aw-wizard-step stepTitle="Title of step 1">
    Content of Step 1
    <button type="button" awNextStep>Next Step</button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 2" [canEnter]="secondStep">
    Content of Step 2
    <button type="button" awPreviousStep >Go to previous step</button>
    <button type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3" [canEnter]="thirdStep">
    Content of Step 3
    <button type="button" awPreviousStep>Previous Step</button>
    <button type="button" (click)="finishFunction()">Finish</button>
  </aw-wizard-step>
</aw-wizard>
